[Unit]
Description=Revisión periódica de torrents terminados

[Timer]
OnBootSec=10min
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
