[Unit]
Description=Verificar semanalmente la copia cifrada de FumetaOS

[Timer]
OnCalendar=Mon *-*-* 11:00:00
Persistent=true

[Install]
WantedBy=timers.target
