[Unit]
Description=Ejecutar la copia de recuperación FumetaOS a las 04:00

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true
AccuracySec=1min

[Install]
WantedBy=timers.target
