[Unit]
Description=Ejecutar actualización completa de Ubuntu cada día

[Timer]
OnCalendar=*-*-* 06:00:00
Persistent=true

[Install]
WantedBy=timers.target
