###########################################################
# FumetaOS
# Configuración
###########################################################

###########################################################
# Telegram
###########################################################

TELEGRAM_TOKEN="8683839937:AAG6LEl2zaKevxSdK9m1Fc2A4jiJtDs87nY"

TELEGRAM_CHAT_ID="152903599"

###########################################################
# Discos
###########################################################

SSD_DEVICE="/dev/sdb"
SSD_NAME="SSD Sistema"
SSD_MODEL="Kingston 240 GB"

HDD_DEVICE="/dev/sda"
HDD_NAME="HDD Datos"
HDD_MODEL="Seagate 2 TB"

###########################################################
# Temperatura
###########################################################

CPU_WARNING=75
CPU_CRITICAL=85

###########################################################
# Disco
###########################################################

DISK_WARNING=85
DISK_CRITICAL=95

###########################################################
# Memoria
###########################################################

RAM_WARNING=75
RAM_CRITICAL=90
